* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mainCont {
  width: 50%;
  margin: 0 auto;
}

.innerCont {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.innerCont h1 {
  padding: 45px 0 45px 0;
  width: 100%;
}

.innerCont .mainAnswQuest {
  width: 100%;
  height: 50%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  letter-spacing: normal;
}

.innerCont .mainAnswQuest ul li {
  list-style: none;
  font-size: 20px;
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.answQuestions {
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 20px;
}

.answers {
  width: 80%;
  font-weight: 100;
}

.questions {
  font-size: 15px;
  margin-bottom: 10px;
}

@media (max-width: 950px) {
  .innerCont h1 {
    font-size: 17px;
    width: 130%;
  }

  .questions {
    font-size: 14px;
    margin-bottom: 17px;
  }
}

@media (max-width: 650px) {
  .innerCont .mainAnswQuest {
    width: 130%;
  }
}
