.mainSlider {
  max-width: 800px;
  width: 100%;
  height: 500px;
  margin: 7rem auto;
}

@media (max-width: 950px) {
  .mainSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 14rem auto;
  }
}
@media (max-width: 500px) {
  .mainSlider {
    margin: 17rem auto;
  }
}
